.progress {
	height: 10px;
	border-radius: 30px;
	background-color: #e8e8e8;
	margin-bottom: 25px;
}

.progress__inner {
	height: 100%;
	border-radius: 30px;
	width: 80%;
	background: #12e730;
	transition: all 0.3s ease-in-out;
	background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

h1 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding: 15px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

ul li:hover {
	border: 2px solid rgba(0, 0, 0, 0.3);
}